name: validate pull request

on:
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:
    strategy:
      matrix:
        include:
          - arch: mipsel-buildroot-linux-musl-
            theme: zbolt
            small: false
            rotate: true
            calibrate: false
            asset: guppyscreen-zbolt

          - arch: mipsel-buildroot-linux-musl-
            theme: material
            small: false
            rotate: true
            calibrate: false
            asset: guppyscreen

          - arch: mipsel-buildroot-linux-musl-
            theme: material
            small: true
            rotate: false
            calibrate: true
            asset: guppyscreen-smallscreen

          - arch: aarch64-none-linux-gnu-
            theme: material
            small: false
            rotate: false
            calibrate: true
            asset: guppyscreen-arm

    runs-on: ubuntu-22.04
    container:
      image: ballaswag/guppydev:latest
      options: --user 1001
  
    env:
      CROSS_COMPILE: ${{ matrix.arch }}
      CC: ${{ matrix.arch }}
      CXX: ${{ matrix.arch }}
      GUPPY_THEME: ${{ matrix.theme }}
  
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: set guppyscreen version
      run: |
        echo "GUPPYSCREEN_VERSION=${{ github.ref_name }}" >> $GITHUB_ENV

    - if: matrix.small
      name: export screen size
      run: |
        echo "GUPPY_SMALL_SCREEN=${{ matrix.small }}" >> $GITHUB_ENV

    - if: matrix.rotate
      name: export screen rotate
      run: |
        echo "GUPPY_ROTATE=${{ matrix.rotate }}" >> $GITHUB_ENV
        
    - if: matrix.calibrate
      name: export touch calibrate
      run: |
        echo "EVDEV_CALIBRATE=${{ matrix.calibrate }}" >> $GITHUB_ENV

    - name: patch lv_drivers
      run: |
        git apply ../patches/0001-lv_driver_fb_ioctls.patch
      working-directory: ./lv_drivers

    - name: patch fmt in spdlog
      run: |
        git apply ../patches/0002-spdlog_fmt_initializer_list.patch
      working-directory: ./spdlog

    - name: patch dpi text scale in lvgl
      run: |
        git apply ../patches/0003-lvgl-dpi-text-scale.patch
      working-directory: ./lvgl

    - name: make wpaclient
      run: make wpaclient

    - name: make libhv
      run: make libhv.a
    
    - name: make libspdlog
      run: make libspdlog.a

    - name: make guppyscreen
      run: make -j

    - name: make kd_graphic_mode
      run: make kd_graphic_mode

    - name: package release
      run: |
        chmod +x ./release.sh
        ./release.sh ${{ matrix.asset }}

    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.asset }}
        path: ./${{ matrix.asset }}.tar.gz
